

.background-body {
    background-color: #202020;}
/*styling for the social media icons and nav bar colors */

.green {
    color: #008037;
}

.yellow {
    color: #e4b81c;
}

.red {
    color: #d9372f;
}

.blue {
    color: #2255fc;
}

.black {
    color: #202020;
}

.white {
    color: #fff8dc;
}




/* Page styling */

* {
    margin: 0 auto;
    padding: 0;
    border: none;
    text-align: center;
    scroll-behavior: smooth;
}



/* logo & nav styling */

#header-container {
    background-color:#202020;
    height: 25%;
    width: 98%;
    margin: 10px; 
    border-bottom: #fff8dc 1px solid;
}





#logo img {
    width: 20%;
    padding: 5px;
    margin-left: 1%; 
    margin-bottom: 2%;
    
}



nav li {
    font-size: 180%;
    display: inline;
    padding: 10px;
    background-color:#202020;
    width: 100%;
    text-decoration: none;
    border: 1.5px solid #fff8dc;
    border-radius: 25px;
    
    
    
    

}

nav li::selection {
    color: #fff8dc;
}



nav ul li a {
    width: 20%;
    text-decoration: none;
    
}


#active-home {
        color: #202020;
        background-color: ivory;
}

#active-geography {
    color: #202020;
    background-color: #008037;
}

#active-wildlife {
    color: #202020;
    background-color: #e4b81c;
}

#active-culture {
    color: #202020;
    background-color: #d9372f;
    
    
}

#active-history {
    color: #202020;
    background-color: #2255fc;
    
    
}

#active-home a:visited {
    color: black;
}



/* footer styling */

footer {
    position: relative;
}
.footer {
    width: 98vw;
    height: 15vh;
    display: flex;
    color: cornsilk;
    margin-top: 2%;
    font-size: 150%;
    position: sticky;
    background-color: #202020;
}

.footer-block-one {
    width: 34%;
    padding-top: 4%;
    
    
    
}

.footer-block-one a {
    text-align: center;
}

.footer-block-one a:link {
    color: #fff8dc;
   
}

.footer-block-one a:visited {
    color: #fff8dc;
   
}



.footer-block-two {
    width: 60%;
    padding-top: 4%;
    margin-left: -8.5%;
    
    
    
    
}

.footer-block-two a {
    text-align: center;
}



* {box-sizing:border-box}



/* Hero Image Styling */
#hero-image {
    width: 98vw;
    border: rgba(255, 248, 220, 0) solid 1px;
    border-radius: 25px;
}

#hero-image-container {
    margin: 2% 0 2% 0;
}

/* Introduction Styling */

#intro {
    background-color: #fff8dc;
    width: 50vw;
    padding: 1% 0.25% 1% 0.25%;
    border: #fff8dc solid 1px;
    border-radius: 25px;
}

#intro p {
    padding: 0.25% 0 0.75% 0;
}
#intro p,h1 {
    color: #202020;
    text-decoration: none;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 2%;
}

#intro h1 {
    padding: 0.5% 0 0.25% 0;
    border: none;
}

/* Geography Page Styling */



#geography-container-one div {
    display: inline-block;
    
    
}
#geography-heading {
    color: #008037;
    font-size: 400%;
    margin-bottom: 5%;
    text-decoration: underline;
    margin-top: 2.5%;
    font-size: 72px;
 
  
    
}


#geography-paragraph-one {
    background-color: #202020;
    width: 80vw;
    padding: 1% 1% 1% 1%;
    color: #fff8dc;
    font-size: 95%;
    
}

#sa-map {
    width: 640px;
    height: 350px; 
    border:#008037 solid 5px; margin-top: 5%;
}

#geography-paragraph-one h2 {
    font-size: 200%;
    padding-bottom: 3%;
    color: #008037;
}

#mandela-quote {
    color: #57d18c;
    font-size: 80%;
    margin-top: 3%;
}



#geography-container-two {
    display: inline-block;
}

#sa-location {
    background-color: #202020;
    width: 70%;
    height: 200px;
    padding: 1% 1% 1% 1%;
    margin-top: 6%;
    color: #fff8dc;
    font-size: 95%;
    border-top: solid 1px #fff8dc;
    
    
    
}

#capital-container {
    width: 80vw;
}

.sa-capitals {
    border: #008037 solid 5px;
    color: #fff8dc;
    width: 350px;
    height: 350px;
    display: inline-block;
    margin: 3% 2% 3% 0;
    
}

.sa-capitals > p {
    font-size: 200%;
    color: #fff8dc;
    background-color: #202020;
    width: 60%;
    margin-top: 2px;
    
}

#pretoria {
    background-image: url(../images/pretoria-parliment.jpg);
    background-size: cover;
}
#capetown {
    background-image: url(../images/capetown.jpg);
    background-size: cover;
}
#bloemfontein {
    background-image: url(../images/bloemfontein.jpg);
    background-size: cover;
}


#geography-container-three h2 {
    margin: 0 0 5% 0;
    color: #008037;
    font-size: 250%;
}

#geography-container-three p {
color: #fff8dc;
font-size: 95%;
width: 70%;
}

#province-container {
    width: 80vw;
}

.sa-provinces {
    border: #008037 solid 5px;
    color: #fff8dc;
    width: 210px;
    height: 210px;
    display: inline-block;
    margin: 3% 2% 3% 0;
}

.sa-provinces > p {
    background-color: #202020;
}

#gauteng {
    background-image: url(../images/gauteng.jpg);
    background-size: cover;

}

#western-cape {
    background-image: url(../images/western-cape.jpeg);
    background-size: cover;
}

#eastern-cape {
    background-image: url(../images/eastern-cape.jpg);
    background-size: cover;
}

#limpopo {
    background-image: url(../images/limpopo.jpeg);
    background-size: cover;
}

#mpumalanga {
    background-image: url(../images/mpumalanga.jpg);
    background-size: cover;
}

#kwazulu-natal {
    background-image: url(../images/kzn.jpg);
    background-size: cover;
}

#north-west {
    background-image: url(../images/north-west.jpg);
    background-size: cover;
}

#free-state {
    background-image: url(../images/free-state3.jpg);
    background-size: cover;
}


#northern-cape {
    background-image: url(../images/northern-cape.jpg);
    background-size: cover;
}


/* Widlife Page Styling */




#wildlife-heading {
    color: #e4b81c;
    font-size: 400%;
    margin-bottom: 5%;
    text-decoration: underline;
    margin-top: 2.5%;
    font-size: 72px;
 
  
    
}

#wildlife-content-one-container {
    display: inline-block;
    
}
#wildlife-paragraph-one {
    background-color: #202020;
    width: 70%;
    padding: 1% 1% 1% 1%;
    color: #fff8dc;
    font-size: 95%;
    
}

#wildlife-paragraph-one h2 {
    color: #e4b81c;
    font-size: 250%;
    margin-bottom: 3%;
    
    
}

.big-five {
    border: #e4b81c solid 5px;
    color: #fff8dc;
    width: 250px;
    height: 250px;
    display: inline-block;
    margin: 3% 2% 3% 0;
}

.big-five > p {
    background-color: #202020;
}

#lion {
    background-image: url(../images/lion.jpg);
    background-size: cover;
}

#leopard {
    background-image: url(../images/leopard.jpg);
    background-size: cover;
}

#rhino {
    background-image: url(../images/rhino.jpg);
    background-size: cover;
}

#elephant {
    background-image: url(../images/elephant2.jpg);
    background-size: cover;
}

#buffalo {
    background-image: url(../images/water-buffalo.jpg);
    background-size: cover;
}


#wildlife-paragraph-two {
    background-color: #202020;
    width: 70%;
    padding: 1% 1% 1% 1%;
    color: #fff8dc;
    font-size: 95%;
    
}

#wildlife-paragraph-two h2 {
    margin-bottom: 2%;
    color: #e4b81c;
    font-size: 250%;
    
}

#wildlife-paragraph-two h3 {
    margin-top: 2%;
    margin-bottom: 2%;
    color: #e4b81c;
    font-size: 120%;
}

.national-animal {
    border: #e4b81c solid 5px;
    color: #fff8dc;
    width: 250px;
    height: 250px;
    display: inline-block;
    margin: 3% 2% 3% 0;
}

.national-animal > p {
    background-color: #202020;
}

#galjoen {
    background-image: url(../images/galjoen.jpg);
    background-size: cover;
}

#blue-crane {
    background-image: url(../images/blue-crane.png);
    background-size: cover;
}

#springbok {
    background-image: url(../images/springbok2.jpg);
    background-size: cover;
}

#wildlife-container-two {
    border-bottom: 1px solid #fff8dc;
    width: 70%;
}

#wildlife-paragraph-three {
    background-color: #202020;
    width: 70%;
    padding: 1% 1% 1% 1%;
    color: #fff8dc;
    font-size: 95%;
    
}

#wildlife-paragraph-three h2 {
    margin-bottom: 2%;
    color: #e4b81c;
    font-size: 250%;
}


.honourable-mentions {
    border: #e4b81c solid 5px;
    color: #fff8dc;
    width: 350px;
    height: 350px;
    display: inline-block;
    margin: 3% 2% 3% 0;
    font-size: 120%;
}

.honourable-mentions > p {
    background-color: #202020;
}

#giraffe {
    background-image: url(../images/giraffe.jpg);
    background-size: cover;
}

#black-mamba {
    background-image: url(../images/black-mamba.jpg);
    background-size: cover;
}

#zebra {
    background-image: url(../images/zebra.jpg);
    background-size: cover;
}

#hyena {
    background-image: url(../images/hyena.jpg);
    background-size: cover;
}

#hippo {
    background-image: url(../images/hippo.jpg);
    background-size: cover;
}

#cheetah {
    background-image: url(../images/cheetah.jpg);
    background-size: cover;
}

/* Culture Styling */

#culture-container-one h1 {
    color: #d9372f;
    font-size: 400%;
    margin-bottom: 5%;
    text-decoration: underline;
    margin-top: 2.5%;
    font-size: 72px;
}

#culture-container-one h2 {
    color: #d9372f;
    font-size: 250%;
    margin-bottom: 2%;
    margin-top: 4%;
    
}

#culture-one-one img {
    width: 80vw;
    border: #d9372f 5px solid;
}

#culture-one-two p {
    background-color: #202020;
    width: 80vw;
    color: #fff8dc;
    font-size: 95%;
    margin-bottom: 3%;
}

#culture-container-two  h2 {
    color: #d9372f;
    font-size: 250%;
    margin-bottom: 2%;
    margin-top: 4%;
    
}

#culture-container-two  p {
    background-color: #202020;
    width: 80vw;
    color: #fff8dc;
    font-size: 95%;
    
}

#culture-container-two iframe {
    margin-top: 2%;
    max-width: 80vw;
    
    
}

#culture-container-three  h2 {
    color: #d9372f;
    font-size: 250%;
    margin-bottom: 2%;
    margin-top: 4%;
    
}

#culture-container-three  p {
    background-color: #202020;
    width: 80vw;
    color: #fff8dc;
    font-size: 95%;
    
}

#culture-container-three  img {
    margin-top: 2%;
    max-width: 80vw;
    
}

#culture-container-four  h2 {
    color: #d9372f;
    font-size: 250%;
    margin-bottom: 2%;
    margin-top: 4%;
    
}

#culture-container-four {
    background-color: #202020;
    color: #fff8dc;
    font-size: 150%;
    
}

#food-paragraph h2 {
    color: #d9372f;
    font-size: 250%;
    margin-bottom: 2%;
    margin-top: 4%;
}

#food-paragraph p{
    width: 80vw;
    background-color: #202020;
    color: #fff8dc;
    font-size: 95%;
}

#food-pictures > p {
    font-size: 150%;
}

#culture-food-paragraph {
    width: 80vw;
}


.sa-food {
    border: #d9372f solid 5px;
    color: #fff8dc;
    width: 25vw;
    height: 25vw;
    display: inline-block;
    margin: 3% 2% 3% 0;
}

.sa-food > p {
    background-color: #202020;
    
    
}

#biltong {
    background-image: url(../images/biltong2.jpg);
    background-size: cover;
}


#milktart {
    background-image: url(../images/milk-tart.jpg);
    background-size: cover;
}

#koeksisters {
    background-image: url(../images/koeksisters.jpg);
    background-size: cover;
}

#malva-pudding {
    background-image: url(../images/malva-pudding.jpg);
    background-size: cover;
}

#shisha-nyama {
    background-image: url(../images/braai.jpg);
    background-size: cover;
}

#bunny-chow {
    background-image: url(../images/bunny-chow.png);
    background-size: cover;
}


/* History page styling */

.timeline {
    border: #2255fc solid 5px;
    color: #fff8dc;
    width: 13.3vw;
    height: 13.3vw;
    display: inline-block;
    margin: 3% 2% 3% 0;
}

.timeline > p {
    background-color: #202020;
    
    
}

#pre-colonisation {
    background-image: url(../images/pre-colonisation.jpg);
    background-size: cover;
}


#dutch {
    background-image: url(../images/dutch-colonisation.jpg);
    background-size: cover;
}

#british {
    background-image: url(../images/british-colonisation.JPG);
    background-size: cover;
}

#union {
    background-image: url(../images/union-of-sa.jpg);
    background-size: cover;
}

#apartheid {
    background-image: url(../images/apartheid.jpg);
    background-size: cover;
}

#democratic-sa {
    background-image: url(../images/democratic-sa.png);
    background-size: cover;
}

#history-container-one h1 {
    color: #2255fc;
    font-size: 400%;
    margin-bottom: 5%;
    text-decoration: underline;
    margin-top: 2.5%;
    font-size: 72px;
}

#history-container-one h3 {
    color: #fff8dc;
    font-size: 100%;
    margin-bottom: 2%;
    margin-top: 4%;
    
}

#history-container-one h2 {
    color: #2255fc;
    font-size: 250%;
    margin-bottom: 2%;
    margin-top: 4%;
    
}

#history-container-one  p {
    background-color: #202020;
    color: #fff8dc;
    font-size: 95%;
    margin-bottom: 2%;
    
}



.history-containers h2 {
    color: #2255fc;
    font-size: 250%;
    margin-bottom: 2%;
    margin-top: 4%;
    
}



.history-containers  p {
    background-color: #202020;
    color: #fff8dc;
    width: 80vw;
    font-size: 95%;
    margin-bottom: 2%;
    
}

.jump-button h3{
    color:#fff8dc;
    border: #2255fc;
    text-decoration: none;
}

.jump-button h3 a:link {
    text-decoration: none;
}

.history-videos {
    width: 560px;
    height: 374px;
}





@media only screen and (max-width: 992px) {
.timeline {
    width: 25vw;
    height: 25vw;
}

.footer-block-two {
    margin-left: -5.5%;
}

.honourable-mentions {
    width: 250px;
    height: 250px;
}
}


@media only screen and (max-width: 576px) {
    
    
    nav li{
        display: block;
        width: 50vw;
      }

    .footer {
        height: 10vh;
        width: 96vw;
        }

    #hero-image {visibility: collapse;}
    
    #hero-image-container {height: 38vh;
        width: 100vw;
        background-image: url(../images/hero-small-p1.png);
        
        
    }

    #logo img {
    height: 150px;
    width: 250px;
    padding: 5px;
    margin-left: 1%; 
    margin-bottom: 2%;
    }

    #intro {
        width: 80vw;
        border: #fff8dc solid 1px;
    border-radius: 25px;
    }

    .footer-block-one {
        width: 30%;
        padding-top: 4%;
        height: 30%; 
        font-size: 50%;
    }

    .footer-block-two {
        height: 25%;  
        margin-left: -5.5%;
        font-size: 50%;
        
        
        
    }

    

    .footer {
        margin-left: 3.5%;
    }



#geography-heading {
        
        font-size: 350%;
}

#culture-container-one h1 {
        
    font-size: 350%;
}
#wildlife-container-one h1 {
        
    font-size: 350%;
}
#history-container-one h1 {
        
    font-size: 350%;
}



#sa-map {
    width: 200px;
    height: 200px; 
    border:#008037 solid 5px; 
    margin-top: 3%;
}

#sa-location {
    font-size: 70%;
    margin-bottom: 5%;
    height: auto;
}

.sa-capitals {
    
    width: 250px;
    height: 250px;
    

}
.sa-capitals > p {
    font-size: 95%;
    width: 70%;
    color: #fff8dc;
    background-color: #202020;
    
    margin-top: 2px;
    
}



#geography-container-three h2 {
    display: block;
}

#geography-container-three h2 {
    margin-top: 8%;
    font-size: 110%;
}

#geography-container-three p {
    margin-bottom: 5%;
}

.sa-food {
    
    width: 250px;
    height: 250px;
    
}

#food-pictures > p {
    font-size: 150%;
}

.timeline {
    width: 80vw;
    height: 40vw;
    margin-bottom: 3%;
}

.history-videos {
    width: 96vw;
    height: 64vw;
}


}

  