

.background-body {
    background-color: #202020;}
/*styling for the social media icons and nav bar colors */

.green {
    color: #008037;
}

.yellow {
    color: #e4b81c;
}

.red {
    color: #d9372f;
}

.blue {
    color: #2255fc;
}




/* Page styling */

* {
    margin: 0 auto;
    padding: 0;
    border: none;
    text-align: center;
}



/* logo & nav styling */

#header-container {
    background-color:#202020;
    height: 25%;
    width: 98%;
    margin: 10px; 
    
    
}



#logo img {
    height: 150px;
    width: 250px;
    padding: 5px;
    margin-left: 1%; 
}



nav li {
    font-size: 150%;
    display: inline;
    padding: 10px;

    background-color:#202020;
    width: 100%;
    text-decoration: none;
    
    
    

}

nav li::selection {
    color: white;
}



nav ul li a {
    width: 20%;
    text-decoration: none;
    
}


#active-home {
        color: #202020;
        background-color: ivory;
}

.active-wildlife {
    color: #202020;
    background-color: #e4b81c;
}

.active-culture {
    color: #202020;
    background-color: #d9372f;
    
    
}

#active-home a:visited {
    color: black;
}


/* footer styling */

footer {
    position: relative;
}
.footer {
    width: 98%;
    height: 15vh;
    display: flex;
    color: cornsilk;
    margin-left: -2.5%;
    
    font-size: 120%;
    position: absolute;
    bottom: 2%;
    
    background-color: #202020;
}

.footer-block-one {
    width: 38%;
    padding-top: 4%;
    
    
    
}

.footer-block-one a {
    padding: 0.2rem;
    text-align: center;
}



.footer-block-two {
    width: 33%;
    padding-top: 4%;
    
    
    
    
}

.footer-block-two a {
    padding: 0.2rem;
    text-align: center;
}

.footer-block-three {
    width: 20%;
    padding-top: 4%;
    
    
    
}

.footer-block-three a {
    padding: 0.2rem;
    text-align: center;
}

footer a:visited {
    color: cornsilk;
}

* {box-sizing:border-box}



/* Home image photos styling */

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }

.home-gallery {
    margin-bottom: 16vh;
}

